.container-1, .container-2, .container-3, .container-4, .container-5{
    border: 1px solid black;
    margin: auto ;
    width: 75%;
    text-align: center;
}

.flex-box-container-1, .flex-box-container-2, .flex-box-container-3,.flex-box-container-4, 
.flex-box-container-5, .flex-box-row-1, .flex-box-row-2, .flex-box-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-box-row-1, .flex-box-row-2{
    background: url('/static/images/BlackJack/blackjack_background.jpg');
    color: white;
}

.flex-box-row-1 div{
    height: 400px;
    border: 1px solid black;
    flex: 1;
    padding: 10px;
    text-align: center;
}
.flex-box-row-1 img{
    width: 25%;
    padding: 10px;
}

.flex-box-row-2 div{
    border: 1px solid black;
    padding: 5px;
}
.flex-box-container-2 img{
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 7);
    margin: 10px;
}

.flex-box-container-3 img:hover{
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 7);
}


table, th, td{
    border: 1px solid black;
    padding: 7px;
}